@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --ff-main: 'Roboto', sans-serif;
  --main-color: hsl(246, 100%, 67%);
  --color-error: hsl(0, 97%, 46%);

  --fc-prim: hsl(0, 0%, 0%);
  --fc-second: hsl(0, 0%, 100%);

  --fs-p: 1.6rem;
  --fs-3: 2.2rem;
  --fs-2: 2.6rem;
  --fs-1: 3rem;

  --bx-shw-form: 0px 0px 7px 2px hsl(0deg 0% 69%);
}

html {
  font-size: 62.5%;
  font-family: var(--ff-main);
}

body {
  font-size: 1.6rem;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
}

/* utility classes*/

.hidden {
  display: none !important;
  pointer-events: none;
}

.nav-bar {
  position: sticky;
  top: 0px;
  background-color: var(--main-color);
  /* background-color: rgb(94 76 255); */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

a {
  text-decoration: none;
}

.nav-bar__list {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

.nav-bar a {
  color: var(--fc-second);
}

.nav-bar__hamburger-button {
  color: var(--fc-second);
  background: none;
  border: none;
  display: none;
}

.hamburger-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: hsl(0deg 0% 0% / 62%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.hamburger-menu--open {
  opacity: 1;
}

.hamburger-menu__title {
  font-size: var(--fs-1);
}

.hamburger-menu__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.hamburger-menu__content {
  background: var(--fc-second);
  color: var(--main-color);
  height: 100vh;
  min-width: 250px;
  max-width: 350px;
  width: 78%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.hamburger-menu__content--open {
  transform: translateX(0px);
}

.hamburger-menu__content a {
  color: var(--fc-prim);
}

.hamburger-menu__close-button {
  position: absolute;
  top: 5px;
  right: -5px;
  background: none;
  border: none;
  transform: translateX(100%);
  color: var(--fc-second);
}

.hamburger-menu__close-button svg {
  width: 20px;
  height: 20px;
}

.sign-up-page {
  display: flex;
  justify-content: center;
  margin: 40px 10px;
}

.sign-up-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 300px;
  max-width: 400px;
  width: 100%;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
  padding: 20px 10px;
  box-shadow: var(--bx-shw-form);
  border-radius: 5px;
}

.sign-up-form__label,
.log-in-form__label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 70%;
}

.sign-up-form__label input,
.log-in-form__label input {
  outline-color: var(--main-color);
  border-radius: 4px;
  border: 1px solid #808080;
}

.sign-up-form__error,
.log-in-form__error {
  text-align: start;
  width: 70%;
  color: var(--color-error);
}

.sign-up-form__submit,
.log-in-form__submit {
  color: var(--fc-second);
  background: var(--main-color);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sign-up-form__title,
.log-in-form__title {
  font-size: var(--fs-1);
}

.log-in-page {
  display: flex;
  justify-content: center;
  margin: 40px 10px;
}
.log-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  max-width: 400px;
  width: 100%;
  gap: 30px;
  box-shadow: var(--bx-shw-form);
  border-radius: 15px;
  padding: 30px 0px;
}

@media (max-width: 600px) {
  .nav-bar__right-side {
    display: none;
  }
  .nav-bar__hamburger-button {
    display: inline-block;
  }
}
