@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --ff-main: 'Roboto', sans-serif;

  --color-main: hsl(246, 100%, 67%);
  --color-background-second: hsl(0, 0%, 100%);
  --color-background-soft: hsl(0, 0%, 97%);
  --color-error: hsl(0, 97%, 46%);
  --color-post-buttons: hsl(0deg 0% 38%);

  --accentue-color-1: hsl(203deg 100% 50%);
  --accentue-color-2: hsl(100deg 100% 50%);

  --linear-gradient-1: linear-gradient(180deg, var(--color-main), #9feeff);

  --border-color: hsl(0, 0%, 58%);

  --fc-prim: hsl(0, 0%, 0%);
  --fc-second: hsl(0, 0%, 100%);
  --fc-links-posts: hsl(0, 0%, 28%);

  --fs-p: 1.6rem;
  --fs-3: 2.2rem;
  --fs-2: 2.6rem;
  --fs-1: 3rem;

  --bx-shw-form: 0px 0px 7px 2px hsl(0deg 0% 69%);

  --z-index-base: 0;
  --z-index-drop-down: 20;
  --z-index-nav-bar: 30;
  --z-index-modal: 40;
}

html {
  font-size: 62.5%;
  font-family: var(--ff-main);
}

body {
  font-size: 1.6rem;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

main {
  padding-top: 40px;
}

/* utility classes*/

.hidden {
  display: none !important;
  pointer-events: none;
}

.App {
  position: relative;
  height: 100vh;
}

.nav-bar {
  position: fixed;
  background-color: var(--color-main);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

.nav-bar-wrapper {
  position: absolute;
  background-color: var(--color-main);
  width: 100%;
  z-index: var(--z-index-nav-bar);
}

.nav-bar__list {
  list-style-type: none;
  display: flex;
  gap: 15px;
  position: relative;
}

.nav-bar a {
  color: var(--fc-second);
}

.nav-bar__hamburger-button {
  color: var(--fc-second);
  background: none;
  border: none;
  display: none;
}

.profile-drop-down__button {
  border: none;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  overflow: hidden;
  width: 30px;
  height: 30px;
}

.profile-drop-down-button__img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.profile-drop-down__list {
  position: absolute;
  background: var(--color-background-second);
  right: 0;
  transform: translateY(16px);
  padding: 9px;
  min-width: max-content;
  border: 1px solid var(--color-main);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  justify-content: center;
  align-items: center;
}

.profile-drop-down__list::before {
  content: '';
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid var(--color-main);
  position: absolute;
  right: 6px;
  top: 0;
  transform: translateY(-100%);
}

.profile-drop-down__log-out {
  background: none;
  border: none;
  color: var(--color-error);
  cursor: pointer;
}

.hamburger-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: hsl(0deg 0% 0% / 62%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.hamburger-menu--open {
  opacity: 1;
}

.hamburger-menu__title {
  font-size: var(--fs-1);
}

.hamburger-menu__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.hamburger-menu__content {
  background: var(--fc-second);
  color: var(--color-main);
  height: 100vh;
  min-width: 250px;
  max-width: 350px;
  width: 78%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.hamburger-menu__content--open {
  transform: translateX(0px);
}

.hamburger-menu__content a {
  color: var(--fc-prim);
}

.hamburger-menu__close-button {
  position: absolute;
  top: 5px;
  right: -5px;
  background: none;
  border: none;
  transform: translateX(100%);
  color: var(--fc-second);
}

.hamburger-menu__close-button svg {
  width: 20px;
  height: 20px;
}

.user-feed {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background: var(--color-background-soft);
}

.sign-up-page {
  display: flex;
  justify-content: center;
  padding: 40px 0px;
  height: fit-content;
  background: var(--linear-gradient-1);
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  max-width: 400px;
  width: 100%;
  gap: 30px;
  border-radius: 15px;
  padding: 30px 0px;
  background: white;
  height: fit-content;
  margin: 50px 20px;
  justify-content: center;
}

.sign-up-form__label,
.log-in-form__label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 70%;
}

.sign-up-form__label input,
.log-in-form__label input {
  outline-color: var(--color-main);
  border-radius: 4px;
  border: 1px solid #808080;
}

.sign-up-form__error,
.log-in-form__error {
  text-align: start;
  width: 70%;
  color: var(--color-error);
}

.sign-up-form__submit,
.log-in-form__submit {
  color: var(--fc-second);
  background: var(--color-main);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sign-up-form__title,
.log-in-form__title {
  font-size: var(--fs-1);
}

.log-in-page {
  display: flex;
  justify-content: center;
  padding: 40px 0px;
  height: 100%;
  background: var(--linear-gradient-1);
}
.log-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  max-width: 400px;
  width: 100%;
  gap: 30px;
  border-radius: 15px;
  padding: 30px 0px;
  background: white;
  height: fit-content;
  align-self: center;
  margin: 0px 20px;
}

.log-in-form__server-error,
.sign-up-form__server-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}

.feed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.new-post-form {
  margin: 30px 0px;
  min-width: 300px;
  max-width: 690px;
  width: 100%;
}

.new-post-form__text-input {
  min-width: 100%;
  max-width: 100%;
  border-radius: 5px;
  padding: 5px;
}

.new-post-form__controllers {
  display: flex;
  gap: 10px;
  align-items: start;
  margin: 10px 0px;
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  max-width: 690px;
  width: 100%;
}

.comments-controller {
  margin: 20px 0px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 10px 0px;
  display: flex;
  gap: 20px;
}

.comments-controller__show-more {
  background: none;
  border: none;
  cursor: pointer;
}

.comments-controller__show-more:hover {
  text-decoration: underline;
}

.post {
  position: relative;
  background: var(--color-background-second);
  color: var(--fc-prim);
  border: 1px solid var(--border-color);
  padding: 10px 15px;
  z-index: var(--z-index-base);
  width: 100%;
}

.post__header,
.comment__header,
.reply__header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.post__creator,
.comment__creator {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post__creator-img,
.comment__creator-img,
.reply__creator-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.post__creator-name,
.comment__creator-name,
.reply__creator-name {
  font-size: var(--fs-p);
  color: rgb(92 92 255);
}
.post__header-right a,
.comment__header-right a,
.reply__header-right a {
  color: var(--fc-links-posts);
}

.post__header-right a:hover,
.comment__header-right a:hover,
.reply__header-right a:hover {
  text-decoration-line: underline;
}

.post__controllers,
.comment__controllers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.reply__controllers {
  margin-top: 20px;
  padding-left: 25%;
}

.post__content,
.comment__content,
.reply__content {
  margin-top: 20px;
}

.post__controllers button,
.comment__controllers button,
.reply__controllers button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--color-post-buttons);
  font-weight: 600;
}

.post__controllers-like-button--active,
.comment__controllers-like-button--active,
.reply__controllers-like-button--active {
  color: var(--color-main) !important;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.comment {
  border-left: 4px solid var(--accentue-color-1);
  border-radius: 5px;
  padding: 10px;
  position: relative;
}

.comment-form {
  margin-top: 20px;
}

.reply {
  position: relative;
}

.comment-form__text-input,
.reply-form__text-input {
  border-left: 4px solid var(--color-main);
  outline-color: var(--color-main);
  border-radius: 5px;
  padding: 10px;
  min-width: 75%;
  max-width: 100%;
}

.comment-form__controllers,
.reply-form__controllers {
  display: flex;
  align-items: center;
  gap: 10px;
}

.comment-form__submit,
.reply-form__submit,
.new-post-form__submit,
.edit-form__submit {
  color: var(--fc-second);
  background: var(--color-main);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.comment-form__error-message,
.reply-form__error-message,
.new-post-form__error-message,
.edit-form__error {
  color: var(--color-error);
}

.sign-up-form__loading-spinner,
.log-in-form__loading-spinner,
.comment-form__loading-spinner,
.reply-form__loading-spinner,
.new-post-form__loading-spinner,
.edit-form__loading-spinner {
  width: 30px;
  height: 30px;
}

.replies {
  margin-top: 25px;
  border-left: 4px solid var(--accentue-color-2);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.edit-form {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 0px;
}

.edit-form__input {
  padding: 5px;
  border-radius: 5px;
  min-width: 100%;
  max-width: 100%;
}

.edit-form__buttons {
  display: flex;
  gap: 10px;
}

.edit-form__cancel {
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid var(--border-color);
}

.post__dots-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.dots-drop-down button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dots-drop-down__content {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 7px;
  border: 1px solid grey;
  border-radius: 10px;
  position: absolute;
  transform: translateX(-100%);
  background: var(--color-background-second);
}

.dots-drop-down__delete {
  color: var(--color-error);
}

.recommended-friends {
  width: 350px;
}

.recommended-friends__container {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px;
  padding: 20px;
}

.recommended-friends__card {
  display: flex;
  align-items: center;
  gap: 10px;
}

.recommended-friends__card-profile-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.recommended-friends__card a {
  color: var(--fc-prim);
  font-weight: 500;
}
.recommended-friends__card a:hover {
  text-decoration: underline;
}

.page-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.page-not-found__warning {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.page-not-found__warning a {
  background-color: var(--color-main);
  padding: 5px 10px;
  color: var(--fc-second);
}

.loading-spinner {
  width: 100%;
  height: 100%;
  border: 3px solid var(--color-main);
  border-left-color: transparent;
  border-radius: 50%;
  animation: Spinner infinite linear 1s;
}

.loading-page {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

@keyframes Spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .nav-bar__right-side {
    display: none;
  }
  .nav-bar__hamburger-button {
    display: inline-block;
  }
}

@media (max-width: 1000px) {
  .recommended-friends {
    display: none;
  }
  .user-feed {
    grid-template-columns: 2fr;
  }
}
